<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
      <!--Grid row-->
      <div class="row">
        <div class="col-md-5 col-8 mb-2 mb-md-3">
          <!-- Email input -->
          <div class="form-outline mb-2">
             <div class="col-md">
                  <h5> Contact police:</h5>
                  <hr>
                  <p>Email: policemini@gmail.com</p>
             </div>
          </div>
        </div>
      </div>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">Gong-moga Emmanuel Gaissala</a>
  </div>
  <!-- Copyright -->
</footer>